<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(product.length > 0) {%>
                <ul>
                    <% product.forEach((p) => {%>
                        <li>
                            <p>

                                <%= p.title%> (<%= p.cartItem.quantity%>)
                            </p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="prodId" value="<%= p.id%>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else {%>
                <div>no products</div>
            <% } %>
      
        </main>
        <%- include('../includes/end.ejs') %>